@model BankOfSimba.ViewModels.Home.HomeViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Simba</title>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @{foreach (var animal in Model.bankAccount)
        {
            var king = animal.isKing ? "King" : "Slave";
            var number = @Model.bankAccount.IndexOf(animal) + 1;
            <div class="@king">@number</div>
            <div class="@king">@animal.Name</div>
            <div class="@king">@animal.Balance.ToString("#,##0.00 Zebra")</div>                
            <div class="@king">@king</div><br />
        }
    }
</body>
</html>