@model ICollection<ToDoWebApp.Models.Todo>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>List</title>
    <link href="@Url.Content("../../css/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>ToDos for today:</h1>
    <div>
        <div class="firstrow">
            <div id="table" class="number">ID</div>
            <div id="table" class="item">Title</div>
            <div id="table" class="number">IsDone</div>
            <div id="table" class="number">IsUrgent</div>
        </div>
        @{

            foreach (var item in @Model)
            {
                <div class="row">
                    <div id="table" class="number">@item.Id</div>
                    <div id="table" class="item">@item.Title</div>
                    <div id="table" class="number">@item.IsDone</div>
                    <div id="table" class="number">@item.IsUrgent</div>
                </div>
            }

        }
        </div>

</body>
</html>