@model ICollection<ToDoWebApp.Models.Todo>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>List</title>
    <link href="@Url.Content("../../css/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>ToDos for today:</h1>
    <h2><a href="/Todo/Form">add new Todo</a></h2>
    <h3><a href="/Todo">Full list</a></h3>
    <h3><a href="/Todo/?IsDone=false">Active tasks</a></h3>
    <h3><a href="/Todo/?IsUrgent=true">Urgent tasks</a></h3>
    <h3><a href="/Todo/?IsUrgent=true&?IsDone=false">Both Active & Urgent tasks</a></h3>
    <div>
        <div class="firstrow">
            <div id="table" class="number">ID</div>
            <div id="table" class="item">Title</div>
            <div id="table" class="number">IsDone</div>
            <div id="table" class="number">IsUrgent</div>
        </div>
        @{
            foreach (var item in @Model)
            {
                <div class="row">
                    <div id="table" class="number">@item.Id</div>
                    <div id="table" class="item">@item.Title</div>
                    <div id="table" class="number">@item.IsDone</div>
                    <div id="table" class="number">@item.IsUrgent</div>
                    <div>
                        <form action="/(@item.Id)/delete" method="post">
                            <input  type="hidden" name="Id" value="@item.Id"/>
                            <button id="table" class="number" type="submit">Delete</button>
                        </form>
                        <form action="/Todo/(@item.Id)/Update" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button id="table" class="number" type="submit">Update</button>
                        </form>
                    </div>
                </div>
            }
        }
        </div>
</body>
</html>