@model ToDoWebApp.Models.Todo
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Edit Todo</h2>
    @using (Html.BeginForm("edit", "todo")) { 
        <input type="hidden" name="Id" value="@Model.Id" />
        @Html.LabelFor(t => t.Title) @Html.TextBoxFor(t => t.Title)<br />
        @Html.LabelFor(t => t.IsDone) @Html.CheckBoxFor(t => t.IsDone)<br />
        @Html.LabelFor(t => t.IsUrgent) @Html.CheckBoxFor(t => t.IsUrgent)<br />
        <button type="submit">Edit</button>
    }
    <p><a href="/todo/back">Cancel</a></p>
</body>
</html>