@model List<BlackJack.Model.Player>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Black Jack</title>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="frame">
        <div class="notcard">Dealer</div>
        <div class="cards">
            @{foreach (var item in Model[0].Hand)
                {
                    <div id="card" class="@item.CardSuit.ToString()">
                        <div id="rank" class="@item.CardRank.ToString()"></div>
                    </div>
                }
            }
        </div>
        <div class="notcard">YOU</div>
        <div class="cards">
            @{foreach (var item in Model[1].Hand)
                {
                    <div id="card" class="@item.CardSuit.ToString()">
                        <div id="rank" class="@item.CardRank.ToString()"></div>
                    </div>
                }
            }
        </div>
        <form class="button" action="/" method="post">
            <button type="submit" value="submit">Pull</button>
        </form>
        <form class="button" action="/" method="post">
            <button type="submit" value="submit">Stop</button>
        </form>
    </div>
</body>
</html>